#navBar h1 {
    float: left;
    padding: 5px 10px;
    margin: 0;
    color: white;
}

#navBar {
    background-color: var(--main);
    height: 50px;
}

#navBar-list {
    margin: 0;
    padding: 0;
    float: right;
}

#navBar-list li {
    display: inline-block;
    margin: 5px 20px 0 0;
    padding: 12px 0 14px 0;
    border-radius: 20px 20px 0 0;
    max-width: 200px;
    min-width: 120px;
    width: 13vw;
    text-align: center;
    cursor: pointer;
}

#navBar-list li:hover {
    background-color: var(--main-dark);
}

#navBar-list li a {
    text-decoration: none;
    color: white;
    font-weight: 300;
}

.active-nav {
    background-color: var(--main-light);
}

.active-nav li a {
    color: var(--main);
}

#bars {
    color: var(--main);
}

#toggle-collapse {
    background-color: white;
    width: 45px;
    height: 40px;
    margin: 5px 15px 0 0;
    float: right;
    border: 0;
    border-radius: 10px;
}

#toggle-collapse:hover {
    background-color: var(--main-dark);
}

@media screen and (min-width: 751px) {
    #toggle-collapse {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    #navBar-list li {
        display: inline-block;
        width: 100%;
        max-width: 100%;
        min-width: 0;
        background-color: var(--main);
        padding: 25px auto;
        margin: 0;
        border-radius: 0;
    }

    #navBar-list {
        float: none;
        width: 100%;
        display: none;
        z-index: -1;
        background-color: var(--main);
        position: static;
    }

    .hidden {
        display: none;
    }
}

