:root {
  --main: #5266db;
  --mid: #f89742;
  --bright: #f89742;
  --main-light: #e2e6ff;
  --mid-light: #ebc5a2;
  --bright-light: #ebc5a2;
  --main-dark: #34418b;
  --mid-dark: #c76a14;
  --bright-dark: #c76a14;
  --good: #7ae783;
  --good-dark: #65b86c;
  --bad: #e44343;
  --bad-dark: #b93737;
}
/* 
:root {
  --main: #2768b3;
  --mid: #f19340;
  --bright: #f19340;
  --main-light: #bddafc;
  --mid-light: #DBA370;
  --bright-light: #f7c9a2;
  --main-dark: #1a4679;
  --mid-dark: #AB5D13;
  --bright-dark: #d3721d;
} */

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  background-color: var(--main-light);
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 400;
}

p {
  font-weight: 300;
  color: grey;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

a {
  text-decoration: none;
}
