:root {
  --main: #52DBA7;
  --mid: #DB853B;
  --bright: #DB6797;
  --main-light: #c0eedd;
  --mid-light: #DBA370;
  --bright-light: #DB9CB4;
  --main-dark: #24AB7E;
  --mid-dark: #AB5D13;
  --bright-dark: #AB355B;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  background-color: var(--main-light);
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 400;
}

p {
  font-weight: 300;
  color: grey;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}