:root {
  --main: #52DBA7;
  --mid: #f89742;
  --bright: #DB6797;
  --main-light: #c0eedd;
  --mid-light: #DBA370;
  --bright-light: #DB9CB4;
  --main-dark: #24AB7E;
  --mid-dark: #AB5D13;
  --bright-dark: #AB355B;
}
/* 
:root {
  --main: #2768b3;
  --mid: #f19340;
  --bright: #f19340;
  --main-light: #bddafc;
  --mid-light: #DBA370;
  --bright-light: #f7c9a2;
  --main-dark: #1a4679;
  --mid-dark: #AB5D13;
  --bright-dark: #d3721d;
} */

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  background-color: var(--main-light);
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 400;
}

p {
  font-weight: 300;
  color: grey;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}