#left-sideBar {
    width: 90%;
    max-height: 80vh;
    height: 100%;
    margin: 50px auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 400px;
    z-index: -2;
    overflow: scroll;
    position: static;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;

}

.sideBar-module {
    width: 100%;
    height: 500px;
    margin: 0 0 0 0;
    box-sizing: border-box;
    padding: 25px;
}

.br {
    width: 80%;
    height: 1px;
    background-color: var(--main);
    margin: auto;
}